<div class="container">
  <h1 class="title is-1">Modifical imagen del slider</h1>
</div>

<div class="container">
  <%= link_to 'Volver a slider', sliders_path, class: 'button is-primary' %>
  <%= render 'form' %>    
</div>