<div class="container">
  <h1 class="title is-1">Imágenes del slider</h1>
</div>

<div class="container">

  <table class="table is-bordered has-text-centered tiendas">
      <tr>
         <th>Nombre</th>
      </tr>

      <% @sliders.each do |slider| %>
         <tr>
            <td>slider.name</td> 
         </tr>
      <% end %>
   </table>

</div>