<div class="container">
  <h1 class="title is-1">Modificar tienda <%= @store.name %></h1>
</div>

<div class="container">
  <%= link_to 'Volver a tiendas', stores_path, class: 'button is-primary' %>
  
  <%= render 'form' %>

</div>