<div class="container">
  <h1 class="title is-1"><%= @store.name %></h1>
  <h2 class="subtitle is-3">Productos</h2>
</div>

<div class="container">
  <%= link_to 'Volver', stores_path, class: 'button is-primary' %>
  <%= link_to 'Nuevo producto', new_store_product_path(@store), class: 'button is-primary' %>
</div>

<div class="container productos">
  <%= render 'stores/products' %>
</div>