<div class="container">
   <h1 class="title is-1"> Tiendas</h1>
</div>

<div class="container">
  <%= link_to 'Volver a inicio', root_path, class: 'button is-primary' %>

   <table class="table is-bordered has-text-centered tiendas">
      <tr>
         <th>Nombre</th>
      </tr>

      <% @stores.each do |store| %>
         <tr>
            <td><%= link_to store.name, tienda_path(store) %></td> 
         </tr>
      <% end %>
   </table>
</div>