<div class="container">
  <h1 class="title is-1">Nueva talla del producto <%= @product.name %> de la tienda <%= @store.name %></</h1>
</div>

<div class="container">

  <button class="button is-primary"><%= link_to 'Volver', store_product_path(@store, @product) %></button>

  <%= render 'form' %>

</div>