<div class="is-flex is-flex-direction-column is-align-items-center	">
  <%= inline_svg_tag("not-found.svg", width: "480", height: "320", class: "mb-5") %>
  <span class="title">¡OPS!</span>
  <span class="subtitle">No hemos podido encontrar la página que buscas.</span>
  <%= link_to "VOLVER A PÁGINA DE INICIO", root_path, class: "button is-primary" %>
</div>
