<div class="is-flex is-flex-direction-column is-align-items-center	">
  <%= inline_svg_tag("internal-server-error.svg", width: "480", height: "320", class: "mb-5") %>
  <span class="title">¡Vaya! Algo salió mal.</span>
  <span class="subtitle">Trata de volver a cargar esta página o no dudes en contactar con nosotros si el problema persiste.</span>
</div>

