.section {
    padding-top: 4rem !important;
}

.button {
    margin: 1rem 0;
    a {
        color: white;
    }
    a:hover {
        color: white;
    }
}

.formulario {
    input {
        width: 20%;
    }
    input[type='file'],input[type=checkbox], input[type=radio] {
        width: auto;
    }
    input[type=checkbox] {
        margin-right: 10px;
    }
    label {
        margin-top: 1rem;
    }
}

.boton_form input {
    background-color: #3e8ed0;
    border-color: transparent;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
}

.boton_form input :hover {
    background-color: #3488ce;
    border-color: transparent;
    color: #fff;
}

#error_explanation {
    color: red;
}

.column.producto {    
    .nombre {
        margin-top: 0.5rem;
    }
}

.column.producto.desc {       
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5rem 0;
    text-align: center !important;
}

#images_, #image, #slider_image {
    margin-top: 1rem;
}

#product_state {
    padding: 1rem;
}

.desc_producto {
    font-size: 1.5rem !important;
}

.producto .trix-content {
    margin-bottom: 1rem;
}

.pag.producto {
    .imagen {
        width: 400px !important;
        margin: 0 auto !important;
        img {
            width: 100%;
        }
    }
    .miniaturas {
        img {
            width: auto;
            height: 150px;
        }
    }
}

.tiendas {
    margin-top: 1rem;
}

.miniaturas {
    img {
        border: 1px solid;
        padding: 10px;
    }
}

.productos {
    margin-top: 2rem !important;
    .producto {
        border: 1px solid;
        .nombre {
            p {
                border-top: 1px solid;
            }
        }
    }
    a {
        color: black;
    }
}

.opciones_slider {       
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5rem 0 !important;
    text-align: center !important;
    margin: 1rem 0;
}

.slider{
    height: 500px;
    margin: -0.75rem;
    margin-top: 1%;
    .slide {
        height: 100%;
        display: none;
        &.slide--current {
            display: block;
          }          
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .flecha {
        position: absolute;
        z-index: 1;
        margin-top: -16rem;
        background-color: rgba(255, 255, 255, 0.5);
        height: 50px;
        width: 50px;
        &.izq {
            left: 0;
        }
        &.der {
            right: 0;
        }
    }
}

.menu {
    background-color: lightgray !important;
}

.breadcrumb li+li::before {
    margin-right: 10px;
}

.form_filtro {
    margin-top: 1.2rem;
}

.select_form select {
    padding: 0.6rem;
}

.cesta {
    height: 50px;
    width: 50px;
    svg {
        width: 100%;
    }
    .column{
        padding: 0.4rem !important;
    }
}

.delete_item svg{
    width: 50px;
}

.modify_quantity svg {
    width: 20px;
}

.item_cart {
    border: 1px solid;
    margin-top: 0.8rem;
    margin-right: 1rem;
    padding: 1rem !important;
    .enl a, .enl a:hover, .enl a:focus, .enl a:active {
        color: #363636 !important;
    }
}

.desc_item .column{
    padding-top: 0 !important;
}
.empty_cart{
    margin-top: 0.8rem !important;
}


@media screen and (max-width: 1023px) {
    
    .navbar-menu.display {
        display: flex;
    }
    
    .formulario {
        input {
            width: 50%;
        }
    }
}

@media screen and (max-width: 768px) {
       
    .formulario {
        input {
            width: 100%;
        }
    }
}