<div class="container">
  <h1 class="title is-1">Modificar producto de <%= @store.name %></</h1>
</div>

<div class="container">
  <%= link_to 'Volver', store_product_path(@store, @product), class: 'button is-primary' %>

  <%= render 'form' %>

</div>