<div class="container">
  <h1 class="title is-1">Nuevo producto</h1>
</div>

<div class="container">
  <%= link_to 'Volver a tienda', products_path, class: 'button is-primary' %>

  <%= render 'form' %>

</div>