<div class="container">
  <h1 class="title is-1">Nuevo producto de <%= @store.name %></</h1>
</div>

<div class="container">

  <button class="button is-primary"><%= link_to 'Volver', store_path(@store) %></button>

  <%= render 'form' %>

</div>